*, h1,h2 {
  padding: 0px;
  margin: 0px;

  .container{
    display:flex;
    justify-content: center;
    min-width:100vw;
    height:100vh;
    overflow: hidden;
    padding:0;
    margin: 0px;

    .main-window{
      background-color: rgb(107, 65, 134);
      width: 95%;
      height: 90%;
      display: flex;

			.players-container{
				background-color: #1c1c24;
				color: #e0e3ea;
				flex-shrink: 0;
				flex-basis: 20%;
				display:flex;
				flex-direction: column;
				align-items: center;

				.players-title{

					color: #e7ebf6;
					width: 100%;
					text-align: center;
					flex-shrink: 0;
					flex-basis: 10%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: calc(12px + 0.9vw);
					padding: 10px 0px;
					border-bottom: 2px solid rgb(61, 60, 60);
				}

				.players-list{
					flex-shrink: 0;
					width: 100%;
					flex-basis: 80%;
					display: flex;
					flex-direction: column;
					align-items: center;
					
					.player-info{
						margin: 1vh;
						font-size: calc(12px + 0.7vw);
						display: flex;
						justify-content: center;
						align-items: center;

						.player-name{
							white-space: nowrap;
							margin: 0px;
						}

						.colorPicker{
							width: calc(12px + 0.5vw);
							height: calc(12px + 0.5vw);
							border-radius: 50%;
							background-color: #d0d0d0;
							margin: 0px 5px;
							border: 1px solid white;
							&:hover{
								cursor: pointer;
							}

							.colorSelector{
								position:relative;
								left: 1.5vw;
								top: -0.2vw;
								width: 10vw;
								height: 5vw;
								background-color: #2b2f3b;
								border: 1px solid #757575;
								border-radius: 5px;
								display: grid;
								grid-template-columns: auto auto auto auto;
								column-gap: 0.5vw;
								row-gap: 0.75vw;
								padding: 0.5vw;
								justify-content: space-around;
								cursor: auto;

								.remove {
									display: none;
								}

								.monopoly-character{
									width: 1vw;
									height: 1vw;
									border-radius: 50%;
									background-color: #d0d0d0;
									margin: 0px;
									border: 1px solid #757575;

								}

								.available{
									cursor: pointer;
									&:hover{
										border: 1px solid white;
									}
								}

								.unavailable{
									cursor: not-allowed;
									opacity: 0.4;
								}

								.colorSelected{
									border: 1px solid white;
								}
							}
							.remove {
								display: none;
							}
						}

						.cross-kick{
							display:inline-block;
							cursor: pointer;
						}
					}
				}

				.start-game{
					width: 100%;
					flex-basis: 10%;
					display:flex;
					justify-content: center;
					align-items: center;

					.remove {
						display: none;
					}

					.button {
						margin: 0px;
						padding: 8px;
						background-color: #2b2f3b;
						border-radius: 25px;
						&:hover{
							border:1px solid #e0e3ea;
							cursor: pointer;
							box-shadow: 0 0 0 1px #d0d0d0;
						}
						&:active {
							background-color: #2b2f3b;
							transform: translateY(2px);
						}

					}
				}

				.warn-hover{
					width: 100%;
					flex-basis: 10%;
					display:flex;
					justify-content: center;
					align-items: center;
					position: relative;

					.remove {
						display: none;
					}

					.button {
						margin: 0px;
						padding: 8px;
						background-color: #2b2f3b;
						border-radius: 25px;
						position: absolute;
						&:hover{
							cursor: pointer;
							box-shadow: 0 0 0 1px #d0d0d0;
						}

					}
				}

				.warning-pre-alert{
					background-color: red;
					position: absolute;
					top: -60px;
					font-size: 12px;
					width: 80%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					border: 1px solid white;
					border-radius: 5px;
					padding: 5px;
					p{
						margin:0;
					}
				}
			}

			.chat-box{
				background-color: #232429;
				width: 100%;
				height:100%;
				display:flex;
				flex-direction: column;

				.chat-messages{
					flex-basis: 95%;
					padding: 10px;
					overflow-y: auto;

					.chat-bubble{
						color:#e0e3ea;
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-bottom: 5px;

						h1, p {
							margin: 0px;
							padding: 0px;
							height: fit-content;
							line-height: normal;
						}
						.message-author{
							font-size: calc(12px + 0.7vw);
							font-weight: bolder;
							margin: 0;
							padding: 0;
							line-height: 18px;
							margin-right: 5px;
						}
					
						.message-text{
							font-size: calc(12px + 0.7vw);
							margin: 0;
							padding: 0;
							line-height: 20px;
						}

						.red{
							color:red;
						}

						.blue{
							color:blue;
						}
					}
				}

				.chat-input{
					display:flex;
					flex-basis: 5%;
					.send-content{
						flex-basis: 95%;
						border:0px solid #e0e3ea;
						background-color: #2b2f3b;
						padding: 0px 5px;
						color: #e0e3ea;
						&:focus {
							outline: none;
						}
					}

					.send-icon{
						width: 12%;
						height: 100%;
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: #2b2f3b;
						flex-basis: 5%;
						color: #e0e3ea;
						&:hover{
							color: #e0e3ea;
						}

						:active{
								color: rgb(33,33,33);
						}

						span{
							margin: 0;
							padding: 0;
						}
					}
				


				}

			}

			.full-window-background{
				position:absolute;
				top:0px;
				left:0px;
				z-index:2;
				width: 100vw;
				height: 100vh;
				background-color: rgba($color: #000000, $alpha: 0.3);
				display:flex;
				justify-content: center;
				align-items: center;

				.warning-box {
					background-color: #1c1c24;
					color: #e0e3ea;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 12px;
					border: 2px solid #757575;
					border-radius: 10px;
					.warning-buttons{
						display:flex;
						justify-content: space-around;
						width: 100%;

						.warning-button{
							border-radius: 5px;
							color: white;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 9px;
							border: 1px solid #757575;
							p{
								margin:0px;
								padding: 0px;
								text-shadow: -1px 1px 0 #000000
							}
							&:active {
								opacity:	0.8;
								transform: translateY(2px);
							}
						}

						.go{
							background-color: rgb(74, 185, 40);
							&:hover{
								border: 1px solid white;
								cursor: pointer;
							}
						}

						.wait{
							background-color: rgb(221, 48, 48);
							&:hover{
								border: 1px solid white;
								cursor: pointer;
							}
						}
					}

				}
			}

			.remove {
				display: none;
			}
    }
  }
}















